body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
    flex-grow: 1;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

.center-content {
    text-align: center;
}

.center-content img {
    display: block;
    margin: 0 auto;
    border-radius: 50%; /* optional: adds rounded corners to the image */
}

.center-content p {
    max-width: 600px; /* optional: set a maximum width for the paragraph */
    margin: 20px auto;
}
